In [ ]:
#import all packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sb
import plotly.express as px
%matplotlib inline

In [ ]:
results = pd.read_csv('/content/results.csv')

In [ ]:
# replace position n\ with NaN
results['position'] = results['position'].replace('n\a', np.nan, regex = True)

In [ ]:
from sre_constants import error
# convert to numeric
results['position']= pd.to_numeric(results['position'], errors = 'coerce')

In [ ]:
# calculate the mean of the position
mean_position = results['position'].mean()

In [ ]:
# get rounded mean and fill NaN
results['position'] = results['position'].fillna(round(mean_position))

In [ ]:
# convert datatype into int
results['position'] = results['position'].astype(int)

In [ ]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   resultId       26080 non-null  int64
 1   raceId         26080 non-null  int64
 2   driverId       26080 non-null  int64
 3   constructorId  26080 non-null  int64
 4   number         26080 non-null  object
 5   startPosition  26080 non-null  int64
 6   position       26080 non-null  int64
 7   points         26080 non-null  float64
 8   milliseconds   7250 non-null   float64
 9   statusId       26080 non-null  int64
 10  seconds        7250 non-null   float64
dtypes: float64(3), int64(7), object(1)
memory usage: 2.2+ MB

In [ ]:
# caluclate the mean of points exluding 0
mean_points = results['points'].replace(0, np.nan).mean()

In [ ]:
# replace zeros with the mean
results['points'] = results['points'].replace(0, mean_points)

In [ ]:
results['points'] = results['points'].round(2)

In [ ]:
# in milliseconds replace n\ with NaN
results['milliseconds'] = results['milliseconds'].replace('n\', np.nan, regex = True)

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-38-16887305cb1e>, line 2)

In [ ]:
from sre_constants import error
# convert to numeric
results['milliseconds']= pd.to_numeric(results['milliseconds'], errors = 'coerce')

In [ ]:
# calculate the mean of the position
mean_position = results['position'].mean()

In [ ]:
# convert to float
results['milliseconds'] = results['milliseconds'].astype(float)

In [ ]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   resultId       26080 non-null  int64
 1   raceId         26080 non-null  int64
 2   driverId       26080 non-null  int64
 3   constructorId  26080 non-null  int64
 4   number         26080 non-null  object
 5   startPosition  26080 non-null  int64
 6   position       26080 non-null  int64
 7   points         26080 non-null  float64
 8   milliseconds   7250 non-null   float64
 9   statusId       26080 non-null  int64
dtypes: float64(2), int64(7), object(1)
memory usage: 2.0+ MB

In [ ]:
results.head(20)

,resultId,raceId,driverId,constructorId,number,startPosition,position,points,milliseconds,statusId,seconds
0,1,18,1,1,22,1,1,10.00,5690616.0,1,5690.6
1,2,18,2,2,3,5,2,8.00,5696094.0,1,5696.1
2,3,18,3,3,7,7,3,6.00,5698779.0,1,5698.8
3,4,18,4,4,5,11,4,5.00,5707797.0,1,5707.8
4,5,18,5,1,23,3,5,4.00,5708630.0,1,5708.6
5,6,18,6,3,8,13,6,3.00,NaN,11,NaN
6,7,18,7,5,14,17,7,2.00,NaN,5,NaN
7,8,18,8,6,1,15,8,1.00,NaN,5,NaN
8,9,18,9,2,4,2,8,6.35,NaN,4,NaN
9,10,18,10,7,12,18,8,6.35,NaN,3,NaN
10,11,18,11,8,18,19,8,6.35,NaN,7,NaN
11,12,18,12,4,6,20,8,6.35,NaN,8,NaN
12,13,18,13,6,2,4,8,6.35,NaN,5,NaN
13,14,18,14,9,9,8,8,6.35,NaN,4,NaN
14,15,18,15,7,11,6,8,6.35,NaN,10,NaN
15,16,18,16,10,20,22,8,6.35,NaN,9,NaN
16,17,18,17,9,10,14,8,6.35,NaN,4,NaN
17,18,18,18,11,16,12,8,6.35,NaN,4,NaN
18,19,18,19,8,19,21,8,6.35,NaN,4,NaN
19,20,18,20,5,15,9,8,6.35,NaN,4,NaN

In [ ]:
# create a new column for seconds based off the millisconds
results['seconds'] = results['milliseconds'] / 1000

In [ ]:
results.head()

,resultId,raceId,driverId,constructorId,number,startPosition,position,points,milliseconds,statusId,seconds
0,1,18,1,1,22,1,1,10.0,5690616.0,1,5690.616
1,2,18,2,2,3,5,2,8.0,5696094.0,1,5696.094
2,3,18,3,3,7,7,3,6.0,5698779.0,1,5698.779
3,4,18,4,4,5,11,4,5.0,5707797.0,1,5707.797
4,5,18,5,1,23,3,5,4.0,5708630.0,1,5708.630

In [ ]:
## Format the 'seconds' column to have only one decimal place
results['seconds'] = results['seconds'].round(1)

In [ ]:
results['min'] = results['min'].round(2)

KeyError: 'min'

In [ ]:
results.isnull().sum()

resultId             0
raceId               0
driverId             0
constructorId        0
number               0
startPosition        0
position             0
points               0
milliseconds     18830
statusId             0
seconds          18830
dtype: int64

In [ ]:
results.head(20)

,resultId,raceId,driverId,constructorId,number,startPosition,position,points,milliseconds,statusId,seconds
0,1,18,1,1,22,1,1,10.00,5690616.0,1,5690.6
1,2,18,2,2,3,5,2,8.00,5696094.0,1,5696.1
2,3,18,3,3,7,7,3,6.00,5698779.0,1,5698.8
3,4,18,4,4,5,11,4,5.00,5707797.0,1,5707.8
4,5,18,5,1,23,3,5,4.00,5708630.0,1,5708.6
5,6,18,6,3,8,13,6,3.00,NaN,11,NaN
6,7,18,7,5,14,17,7,2.00,NaN,5,NaN
7,8,18,8,6,1,15,8,1.00,NaN,5,NaN
8,9,18,9,2,4,2,8,6.35,NaN,4,NaN
9,10,18,10,7,12,18,8,6.35,NaN,3,NaN
10,11,18,11,8,18,19,8,6.35,NaN,7,NaN
11,12,18,12,4,6,20,8,6.35,NaN,8,NaN
12,13,18,13,6,2,4,8,6.35,NaN,5,NaN
13,14,18,14,9,9,8,8,6.35,NaN,4,NaN
14,15,18,15,7,11,6,8,6.35,NaN,10,NaN
15,16,18,16,10,20,22,8,6.35,NaN,9,NaN
16,17,18,17,9,10,14,8,6.35,NaN,4,NaN
17,18,18,18,11,16,12,8,6.35,NaN,4,NaN
18,19,18,19,8,19,21,8,6.35,NaN,4,NaN
19,20,18,20,5,15,9,8,6.35,NaN,4,NaN

In [ ]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   resultId       26080 non-null  int64
 1   raceId         26080 non-null  int64
 2   driverId       26080 non-null  int64
 3   constructorId  26080 non-null  int64
 4   number         26080 non-null  object
 5   startPosition  26080 non-null  int64
 6   position       26080 non-null  int64
 7   points         26080 non-null  float64
 8   milliseconds   7250 non-null   float64
 9   statusId       26080 non-null  int64
 10  seconds        7250 non-null   float64
dtypes: float64(3), int64(7), object(1)
memory usage: 2.2+ MB

In [ ]:
results.info()

In [ ]:
results.describe()

,resultId,raceId,driverId,constructorId,startPosition,position,points,milliseconds,statusId,seconds
count,26080.000000,26080.000000,26080.000000,26080.000000,26080.000000,26080.000000,26080.000000,7.250000e+03,26080.000000,7250.000000
mean,13041.372661,536.695667,266.277569,49.059663,11.167561,7.980445,6.350174,6.219500e+06,17.476074,6219.500303
std,7530.008377,303.034639,272.581622,60.221056,7.232797,3.678571,3.054944,1.669483e+06,26.129965,1669.483118
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.500000,2.070710e+05,1.000000,207.100000
25%,6520.750000,294.750000,57.000000,6.000000,5.000000,6.000000,6.350000,5.397778e+06,1.000000,5397.800000
50%,13040.500000,519.000000,163.000000,25.000000,11.000000,8.000000,6.350000,5.802742e+06,10.000000,5802.750000
75%,19560.250000,791.000000,364.000000,58.250000,17.000000,8.000000,6.350000,6.415414e+06,14.000000,6415.400000
max,26085.000000,1110.000000,858.000000,214.000000,34.000000,33.000000,50.000000,1.509054e+07,141.000000,15090.500000

In [ ]:
driverCount = results['driverId'].nunique()
print(driverCount)

857

In [ ]:
qualifiers  = pd.read_csv('/content/qualifying.csv')
qualifiers.head(20)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
5,6,18,15,7,11,6,1:26.427,1:26.101,1:28.527
6,7,18,3,3,7,7,1:26.295,1:26.059,1:28.687
7,8,18,14,9,9,8,1:26.381,1:26.063,1:29.041
8,9,18,10,7,12,9,1:26.919,1:26.164,1:29.593
9,10,18,20,5,15,10,1:26.702,1:25.842,\N
10,11,18,22,11,17,11,1:26.369,1:26.173,\N
11,12,18,4,4,5,12,1:26.907,1:26.188,\N
12,13,18,18,11,16,13,1:26.712,1:26.259,\N
13,14,18,6,3,8,14,1:26.891,1:26.413,\N
14,15,18,17,9,10,15,1:26.914,\N,\N
15,16,18,8,6,1,16,1:26.140,\N,\N
16,17,18,21,10,21,17,1:27.207,\N,\N
17,18,18,7,5,14,18,1:27.446,\N,\N
18,19,18,16,10,20,19,1:27.859,\N,\N
19,20,18,11,8,18,20,1:28.208,\N,\N

In [ ]:
# get unique driverId
driverCount = qualifiers['driverId'].nunique()
print(driverCount)

168

In [ ]:
driverCount = qualifiers['driverId'].nunique()
print(driverCount)

168

In [ ]:
# Perform a left join merged_df = pd.merge(df1, df2, on='ID', how='left')
merged_df =pd.merge(qualifiers,results, on='driverId', how='inner')

In [ ]:
# get unique driverId
driverCount = merged_df['driverId'].nunique()
print(driverCount)

168

In [ ]:
merged_df.isnull().sum()

qualifyId               0
raceId_x                0
driverId                0
constructorId_x         0
number_x                0
position_x              0
q1                   1687
q2                  20134
q3                  45586
resultId                0
raceId_y                0
constructorId_y         0
number_y                0
startPosition           0
position_y              0
points                  0
milliseconds       803179
statusId                0
seconds            803179
dtype: int64

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1708231 entries, 0 to 1708230
Data columns (total 19 columns):
 #   Column           Dtype
---  ------           -----
 0   qualifyId        int64
 1   raceId_x         int64
 2   driverId         int64
 3   constructorId_x  int64
 4   number_x         int64
 5   position_x       int64
 6   q1               object
 7   q2               object
 8   q3               object
 9   resultId         int64
 10  raceId_y         int64
 11  constructorId_y  int64
 12  number_y         object
 13  startPosition    int64
 14  position_y       int64
 15  points           float64
 16  milliseconds     float64
 17  statusId         int64
 18  seconds          float64
dtypes: float64(3), int64(12), object(4)
memory usage: 247.6+ MB